:root {
  /* Define colour variables */
  --main-text-header-color: #5d6063;
  --main-text-body-color: #525252;
  --main-color-peach: #edc7b7;
  --main-color-blue: #123c69;
  --main-color-pink: #ac3b61;
  --main-color-error: #d33c40;
  --main-color-light-grey: #d6d6d6a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-text-header-color);
  background: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-width: 1000px;
  text-align: center;
  border-radius: 22px;
  padding: 30px 0;

  width: 80%;
}

.section.header {
  background: var(--main-color-peach);
  padding: 30px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #3d3f41;
  font-size: 26px;
  margin-bottom: 20px;
}

h3 {
  color: #3d3f41;
  border-radius: 10px;
}

.form {
  padding-bottom: 20px;
}

.table {
  padding-top: 20px;
}

tr {
  flex-direction: column;
}

/* Buttons
    =============== */
.button,
button,
[type='button'] {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 12px;
  background: var(--main-color-pink);
  color: #eaedf0;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 6px 0px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

[type='submit'] {
  background: var(--main-color-blue);
}

/* Error handling
    =============== */

input.has-error,
input.has-error:hover,
input.has-error:focus {
  border: 1px solid var(--main-color-error);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

label.error-message {
  font-weight: normal;
  color: var(--main-color-error);
  min-height: 25px;
  padding: 2px 0;
}

form label {
  font-weight: bold;
}

input {
  width: 100%;
  font-size: 1em;
  color: var(--main-text-body-color);
  background: transparent;
  border: 1px solid darkgrey;
  border-style: solid;
  border-radius: 12px;
  padding: 0.75rem 1.25rem;
  margin-top: 2px;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

input:focus {
  font-size: 1em;
  outline: none;
  color: var(--main-text-body-color);
  border: 1px solid #b4b4b4;
  background: #e6e6e6;
}

/* Mobile specific styling
    =============== */
@media screen and (max-width: 600px) {
  h1,
  h3,
  p {
    text-align: center;
  }

  .section {
    background: var(--main-color-light-grey);
    flex-direction: column;
    margin: 10px 20px;
  }

  .section.body {
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
  }

  /* Mobile Table
    =============== */

  table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
  }

  thead {
    display: none;
  }

  tr {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  td {
    width: 100%;
    padding: 5px 2px;
    display: flex;
  }

  td.name {
    font-weight: bold;
    color: rgb(82, 82, 82);
  }

  tr:first-child {
    border-top: none;
  }

  tr:last-child {
    border-bottom: none;
  }

  /* Mobile Form
    =============== */
  .form {
    padding-bottom: 20px;
  }

  form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
  }
}

/* Desktop specific styling
    =============== */
@media only screen and (min-width: 601px) {
  h3 {
    margin-bottom: 20px;
  }

  .section.body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .form {
    width: 100%;
    background: var(--main-color-light-grey);
    border-radius: 10px;
    margin-right: 1%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .table {
    width: 100%;
    table-layout: fixed;
    background: var(--main-color-light-grey);
    border-radius: 10px;
    margin-left: 1%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  th {
    border-radius: 10px;
  }

  th,
  td {
    text-align: left;
    padding: 0.5rem;
    padding-right: 2.5rem;
  }
}
